syntax: glob
.hg/
.hgignore
.hgtags
*.log
*.log.*
*~
exampleRISK/*
examplePG/servervm/*
examplePG/coral-dep.jar
res*/*
lib/*
old/*
db*/*
bin/*
.metadata/
.settings/
.DS_*
test/main/local/**
.download
coral_server/
Thumbs.db
examplePG/.project
*export*.*
*.do
CLI.java
LatexServable.java
StataServable.java
PondMatching.java
target/
/lib/
/.classpath
