#parse("coralpres/header.vm")

<h1></h1>

<ul>
	<li></li>
	<li></li>
</ul>


<div class="contbutton">

<p>
	<input type='submit' name='continue' value='Continue'>
</p>
</div>

#parse("coralpres/footer.vm")